<div class="row">

    <div style="text-align: center;">
        <div style="color: red" *ngIf="error">
            <p>{{error}}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner />
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading"> 
            <div>
                <label for="email">E-Mail</label>
                <input type="email" id="email" ngModel name="email" required email/>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" ngModel required name="password" minlength="6"/>
            </div>
            <div>
                <button class="btn" type="submit" [disabled]="!authForm.valid">{{isSignupMode ? 'Signup' : 'Login'}}</button> | 
                <button class="btn" (click)="onSwitchMode()" type="button">Switch to {{isSignupMode ? 'Login' : 'Signup'}}</button>
            </div>
        </form>
    </div>
</div>