.menu-static {
    background-color: #444;
    /* top: var(--top-menu);
    bottom: var(--bottom-menu);
    left: var(--left-menu);
    right: var(--right-menu); */
    height: calc(100vh - var(--top-menu) - var(--bottom-menu));
    width: calc(100vw - var(--left-menu) - var(--right-menu));
    margin-left: var(--left-menu);
}
.menu {
    background-color: #444;
    position: fixed;
    top: var(--top-menu);
    bottom: var(--bottom-menu);
    left: var(--left-menu);
    right: var(--right-menu);
}
