<!-- <ul>
  @for(item of items$ | async; track item) {
    <li>{{item.dashboard}}</li>
  }
</ul> -->
@if(isAuthenticated){
  <div (scroll)="onScroll()" class="full-page">
<app-header (onClick)="eventConsume($event)" (logout)="onLogout()"/>
<div class="menu-content">
@if(uiService.element.getValue()['menu']['button']) {
<app-menu (onClick)="eventConsume($event)"/>
}
<div [class]="mainPage.getValue()" [@mainPageState]="mainPageState">
<router-outlet></router-outlet>
</div>
</div>
</div>
}
@if(!isAuthenticated) {
  <div class="full-page">
    <div class="text-area-static" style="width: 100vw;">
    <router-outlet></router-outlet>
    </div>
    </div>
}
