html, body {
    background-color: #363636;
}
:root {
    --padding-text-area: 5%;
    --left-menu: 0;
    --right-menu: 0;
    --margin-left-text-area: calc(100vw - var(--left-menu) - var(--right-menu));;
    --top-menu: 15vh;
    --bottom-menu: 1vh;
    --left-border-text-area: 1vw;
}

body {
    width: 100vw;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}