.blur {
  /* height: 100vh;
  width: 100vw; */
  z-index: 2;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(0.2rem);
  /* background-color: #444; */
  /* opacity: 0.5; */
}
.transparency {
  /* height: 100vh;
        width: 100vw; */
        z-index: 2;

  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* backdrop-filter: blur(0.2rem); */
  background-color: #000;
  opacity: 0.75;
}
.form {
  z-index: 2;


  position: fixed;
  background-color: #fff;
  display: flex;
  gap: 5vh;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  bottom: 10vh;
  left: 25vw;
  right: 25vw;
  box-shadow: 0em 0rem 0.2rem #e7e7e8;
  border-radius: 4rem 4rem 4rem 4rem;
}
.form-content {
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.form-raw {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}
input {
  background-color: #bebebe;
  box-shadow: 0rem 0.5rem 1rem #e7e7e8;
  border-radius: 4rem 4rem 4rem 4rem;
  color: #42424d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.01rem #42424d;
  flex-wrap: wrap;
  outline: none;
  padding: 0 0 0 3vw;
  font-size: 2rem;
}
