<!-- <div [class]="mainPage.getValue()" [@mainPageState]="mainPageState"> -->
<div class="page">
  <p>It seems like no groups are here...</p>
  <div class="buttons">
    <button appDefaultButton fontSize="2" (click)="mountBtn('Find Groups')">find groups</button>
    <button appDefaultButton fontSize="2" (click)="mountBtn('Add Groups')">add group</button>
  </div>
</div>
@if(findGroups){
  <app-form formName="Find Groups" (mount)="mountBtn('Find Groups')"/>
}
@if(addGroups){
  <app-form formName="Add Groups" (mount)="mountBtn('Add Groups')"/>
}
