.page {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    /* width: min-content; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    gap: 3rem;
    /* gap: 5vw; */
}